@*@model List<DairyManagementSystem.Models.AddFeedTransModel>*@
@model DairyManagementSystem.Models.AddFeedTransModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewFeedTrans</title>
</head>
<style>
    body {
        background-image: url('../../Content/Payment3 Img.jpg');
        background-size: cover;
    }
</style>

<body>
    <h1>Feed Supplier</h1>
    <ul>
        <li><a href="~/Feed/FeedIndex">Home</a></li>
        <li><a href="~/Feed/AddFeedItem">Add New Item</a></li>
        <li><a class="active" href="~/Feed/AddFeedTrans">Sell Feed</a></li>
        <li><a href="~/Feed/ViewFeedTransold">View Sales List</a></li>
        <li><a href="~/Feed/AddSuppPayment">Generate Monthly PaymentSlip</a></li>
        <li style="float:right"><a href="~/Home/Index">Log out</a></li>
    </ul>
    <p></p>
    <a href="~/Feed/FeedIndex"><input type="image" src="~/Content/back.png" width="48" height="48" /></a>
    <p></p>
    <div id="example2" >
        @using (Html.BeginForm())
        {
        <table align="center" cellspacing="10px">


            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <tr>
                <td>
                    <span>Vendor Name: </span>
                </td>
                <td>
                    @Html.DropDownList("VendorId", (List<SelectListItem>)ViewBag.vend)
                    @Html.ValidationMessageFor(model => model.VendorName)
                </td>
            </tr>
            <tr>
                <td>
                    <span><br />Feed Item Name:</span>
                </td>
                <td>
                    @Html.DropDownList("ItemId", (List<SelectListItem>)ViewBag.feed)
                    @Html.ValidationMessageFor(model => model.ItemId)
                </td>
            </tr>
            <tr>
                <td>
                    <span><br /><br />Quantity:</span>
                </td>
                <td>
                    @Html.EditorFor(model => model.Quantity)
                    @Html.ValidationMessageFor(model => model.Quantity)
                </td>
            </tr>
            <tr>
                <td>
                    <span><br /><br />Date:</span>

                </td>
                <td>
                    @Html.TextBoxFor(model => model.Date, new { type = "date" })
                    @Html.ValidationMessageFor(model => model.Date)
                </td>
                <tr>
                    <td><input type="submit" value="Add Sales Details" class="btn btn-default" /></td>
            </tr>
            </table>
            

         }
            <span><br /><br /></span>
            <div style="text-align-last:center">@Html.ActionLink("Stock List", "FeedIndex")</div> 
</div>
</body>
</html>
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
